.git
.github
.cache
.turbo
.next
.vercel
node_modules
**/node_modules
**/.next
**/.turbo
**/.cache
**/dist
**/build
**/coverage
**/.expo
.env
.env.*
!.env.example
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
Dockerfile
docker-compose*.yml
compose*.yml
image*.png
